<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<div class="row">
  <div class="col s12 center">
    <br/>
    <h1>Data Visualization</h1>
  </div>
</div>

<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2 center flow-text">
    <h2 class="light-blue-text text-darken-2">What is it?</h2>
    <p>Data visualization is the presentation of data in a pictorial or graphical format.</p>

    <p class="red-text text-darken-2">It enables decision makers to see analytics presented visually, so they can grasp difficult concepts or identify new patterns.</p>

    <p>With interactive visualization, you can take the concept a step further by using technology to drill down into charts and graphs for more detail, interactively changing what data you see and how it's processed.</p>
  </div>
</div>

<div class="row">
  <div class="col s12 center flow-text">
    <h2 class="light-blue-text text-darken-2">Why is it important for you at DBC?</h2>

    <p>Let's say you want to build a stocks website...</p>

    <div class="row">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <%= image_tag("http://streaming.yayimages.com/images/photographer/stuartmiles/ebb8771de08f289d1617c9adae4367cc/stocks-arrow-shows-increase-in-worth-for-stockholders.jpg", class: "responsive-img z-depth-1") %>
      </div>
    </div>

    <p>And let's say you have a TON of data<br/> on Apple's stock prices over the years...</p>



    <p class="red-text text-darken-2">You could visualize this data with <%= link_to "Highcharts", "http://www.highcharts.com/" %>.</p>

    <p>And it may look like this:</p>

    <div id="container" style="height: 400px; min-width: 310px"></div>

    <br/>
    <p class="light-blue-text text-darken-2">Or like this:</p>
    <br/>

    <div id="container2" style="height: 400px; min-width: 310px"></div>

    <br/>
    <p class="red-text text-darken-2">Or even like this:</p>
    <br/>

    <div id="container3" style="height: 400px; min-width: 310px"></div>
  </div>
</div>

<div class="row">
  <div class="col s12 center m10 offset-m1 l8 offset-l2 center">
    <h2>Ready for an actual example?</h2>

    <%= link_to "Let's Go", exoplanets_data_path, class: "btn light-green" %>
  </div>
</div>


<%= javascript_include_tag "talk" %>
