<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12 offset-l3 center">
        <h5 class="white-text">Exoplanet<span class="red-text text-darken-2">Analysis</span></h5>
        <p class="grey-text text-lighten-4">The latest information on planets discovered outside of our solar system.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright center white-text">
    <div class="container">
      Copyright &copy; 2016. Made by <%= link_to "Kelsonic", "www.kelsonic.io", class: "light-blue-text" %> and
      <%= link_to "Ttalhouk", "https://github.com/ttalhouk", class: "light-blue-text" %> at DBC.
    </div>
  </div>
</footer>
