<nav class="black">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">Exoplanet<span class="red-text text-darken-2">Analysis</span></a>
    <ul id="nav-mobile" class="right">
      <li><%= link_to "Data", exoplanets_data_path %></li>
      <li><%= link_to "Talk", talk_path %></li>
    </ul>
  </div>
</nav>
